{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../static/apollo/images/tab.png">
  <link rel="stylesheet" href="{% static 'apollo/css/style.css' %}">
  <title>Coordinate Transformation</title>
</head>
<body>
  {% include 'header.html' %}
  <h1>Coordinate Transformation Calculator</h1>
  <form>
      <label for="xInitial">Initial X Coordinate:</label>
      <input type="number" id="xInitial" placeholder="e.g., 1.0" required>
  
      <br>
  
      <label for="yInitial">Initial Y Coordinate:</label>
      <input type="number" id="yInitial" placeholder="e.g., 2.0" required>
  
      <br>
  
      <label for="zInitial">Initial Z Coordinate:</label>
      <input type="number" id="zInitial" placeholder="e.g., 3.0" required>
  
      <br>
  
      <label for="xRotation">X Rotation (degrees):</label>
      <input type="number" id="xRotation" placeholder="e.g., 45.0" required>
  
      <br>
  
      <label for="yRotation">Y Rotation (degrees):</label>
      <input type="number" id="yRotation" placeholder="e.g., 30.0" required>
  
      <br>
  
      <label for="zRotation">Z Rotation (degrees):</label>
      <input type="number" id="zRotation" placeholder="e.g., 60.0" required>
  
      <br>
  
      <button type="button" onclick="calculateNewCoordinates()">Calculate</button>
  
      <br>
  
      <div id="resultOutput"></div>
  </form>
  {% include 'footer.html' %}
</body>
</html>